<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>191169592054-t8shkk8ql4fn6kkjfviodrof0nn3l9fj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.191169592054-t8shkk8ql4fn6kkjfviodrof0nn3l9fj</string>
	<key>API_KEY</key>
	<string>AIzaSyDWfDiaE5ngSCWPD1dYkmcODMx0_A4XxNM</string>
	<key>GCM_SENDER_ID</key>
	<string>191169592054</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Denis-Orlenko.IviCloneApp</string>
	<key>PROJECT_ID</key>
	<string>iviclonesign</string>
	<key>STORAGE_BUCKET</key>
	<string>iviclonesign.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:191169592054:ios:1b61cd6c34d68b55d6cad7</string>
</dict>
</plist>